socialnetwork/node_modules/
socialnetwork/coverage

socialnetwork/docker/postgres-volume-sandbox/

# next.js
socialnetwork/.next/
socialnetwork/out/

# production
socialnetwork/build

# misc
.DS_Store
.env*

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

socialnetwork/app
socialnetwork/main.go
socialnetwork/playwright-report/
socialnetwork/playwright/.cache/
